/* Shelf */

.shelf:first-of-type {
    margin-top: 2rem;
}
.shelf:last-of-type {
    margin-bottom: 2rem;
}
@media (min-width: 940px) {
    .shelf:last-of-type {
        margin-bottom: 4rem;
    }
}

.shelf-wrapper {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 2rem;
}


/* Toggle Button ----------------------------- */

.shelf-toggle-button {
    position: relative;
    display: block;
    margin: 0;
    padding: .5em 1.5em;
    line-height: 1.5;
    font: inherit;
    font-weight: 600;
    font-size: 1.2em;
    text-align: left;
    border: none;
    color: inherit;
    background-color: transparent;
    transition: border-color .12s;
    outline: none;
    width: 100%;
}

.shelf-toggle-button:before,
.shelf-toggle-button:after {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 50%;
    background-color: hsl(0,0%,88%);
    transition: transform .2s cubic-bezier(.4,.1,0,1);
}
.shelf-toggle-button:before {
    top: 0;
    transform-origin: bottom center;
    transform: translateX(.7em) rotate(-30deg) scale(.75);
}
.shelf-toggle-button:after {
    bottom: 0;
    transform-origin: top center;
    transform: translateX(.7em) rotate(30deg) scale(.75);
}
.is-open .shelf-toggle-button:before,
.is-open .shelf-toggle-button:after {
    transform: rotate(0deg);
}
.shelf-toggle-button:focus:before,
.shelf-toggle-button:focus:after {
    background-color: currentColor;
}
.shelf-toggle-button:hover {
    background-color: hsl(0, 0%, 75%);
}

/* Meta info */

.shelf-meta {
    margin-top: .2em;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-subtle);
}
.shelf-meta-divider {
    margin: 0 .5em;
}


/* Shelf Box ----------------------------- */

.shelf-box {
    display: none;
    position: relative;
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 6px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
}
.shelf-box:before {
    content: "";
    position: absolute;
    top: -11px;
    width: 20px;
    height: 20px;
    background-color: inherit;
    border-top: inherit;
    border-right: inherit;
    border-top-right-radius: 3px;
    transform: rotate(-45deg);
}

.is-open .shelf-box {
    display: block;
    animation: shelf-box-fade-in .2s cubic-bezier(0, .20, .20, .96);
}
@keyframes shelf-box-fade-in {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.shelf-box > p:first-child {
    margin-top: 0;
}

.shelf-box h5 {
    font-size: 1em;
    margin-bottom: .6em;
}


/* Shelf Controls ----------------------------- */

.shelf-controls {
    display: flex;
    align-items: center;
}

.shelf-button {
    align-self: flex-start;
    margin-right: 1em;
    border: 2px solid;
    border-radius: 4px;
    font: inherit;
    font-size: 1.2em;
    padding: .4em 1.2em;
    width: 150px;
    max-height: 42px;
    color: inherit;
    background-color: transparent;
}
.shelf-button:focus {
    outline: none;
    background-color: white;
}
.shelf-button:active {
    border-color: var(--color-border);
}
.shelf-button:disabled {
    border-color: hsl(0,0%,80%);
    color: hsl(0,0%,80%);
}

.shelf-input {
    flex: 1;
    border: 2px solid var(--color-border);
    border-radius: 4px;
    font: inherit;
    font-size: 1.2em;
    padding: .4em .8em;
    color: inherit;
    background-color: transparent;
}
.shelf-input:focus {
    outline: none;
    border-color: hsl(0,0%,80%);
    background-color: white;
}

.shelf-select {
    flex: 1;
    height: 42px;
    border: 2px solid var(--color-border);
    border-radius: 4px;
    font: inherit;
    font-size: 1.2em;
    padding: .4em .8em;
    color: inherit;
    background-color: transparent;
}
.shelf-select:focus {
    outline: none;
    border-color: hsl(0,0%,80%);
    background-color: white;
}

.shelf-select-90 {
    flex: 1;
    height: 42px;
    border: 2px solid var(--color-border);
    border-radius: 4px;
    font: inherit;
    font-size: 1.2em;
    padding: .4em .8em;
    color: inherit;
    background-color: transparent;
    max-width: 90px;
}
.shelf-select-90:focus {
    outline: none;
    border-color: hsl(0,0%,80%);
    background-color: white;
}

.shelf-select-130 {
    flex: 1;
    height: 42px;
    border: 2px solid var(--color-border);
    border-radius: 4px;
    font: inherit;
    font-size: 1.2em;
    padding: .4em .8em;
    color: inherit;
    background-color: transparent;
    max-width: 130px;
}
.shelf-select-1300:focus {
    outline: none;
    border-color: hsl(0,0%,80%);
    background-color: white;
}

.shelf-option {
    flex: 1;
    height: 43px;
    border: 2px solid var(--color-border);
    border-radius: 4px;
    font: inherit;
    font-size: 1.2em;
    padding: .4em .8em;
    color: inherit;
    background-color: transparent;
}
.shelf-option:focus {
    outline: none;
    border-color: hsl(0,0%,80%);
    background-color: white;
}

.shelf-response {
    flex: 1;
    word-break: break-word;
    display: none;
}

.shelf-response-error {
    border-color: hsl(350, 100%, 50%);
    border-width: 2px;
}

.smooth-appear {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.disappear {
    opacity: 0;
}
.shelf-button.smooth-disappear:focus {
    outline: inherit;
    border-color: inherit;
    background-color: inherit;
}

/* ProTip ----------------------------- */

.shelf-protip {
    margin-top: 2rem;
    padding: 1.5rem 2rem 2rem 2rem;
    border: 1px solid hsla(0,0%,0%,.06);
    border-radius: 6px;
    background: var(--color-accent) linear-gradient(hsla(0,0%,100%,.85), hsla(0,0%,100%,.85));
}
.shelf-protip h2 {
    margin: 0 0 .5rem 0;
}
.shelf-protip strong {
    font-weight: 600;
}

